@charset "utf-8";
@import "normalize",
        "bootstrap_grid";

$light_blue: rgb(209,239,253);
$light_red: rgb(255,225,228);
$light_green: rgb(222,240,223);
$light_purple: #ede7f6;


body {
  font: 300 15px/1.3 "Gotham SSm A", "Gotham SSm B", Gotham, sans-serif;
}

.truck-nav-filter {
  display: inline-block;
  margin: 15px 0;
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
  color: #777;
  + .truck-nav-filter {
    margin-left: 0.75em;
  }
  &.current {
    color: #000;
    font-weight: 700;
  }
  &:hover, &:focus, &:active {
    text-decoration: underline;
    color: #000;
    cursor: pointer;
  }
}

.grid {
  margin-left: -2px;
  margin-right: -2px;
}

.grid-cell, .grid-cell-sizer {
  width: 50%;
  @media screen and (min-width: 480px) and (max-width: 991px) {
    width: 25%;
  }
  @media screen and (min-width: 992px) and (max-width: 1199px) {
    width: 20%;
  }
  @media screen and (min-width: 1200px) {
    width: 12.5%;
  }
}

.grid-cell {
  margin-bottom: 4px;
  padding-left: 2px;
  padding-right: 2px;
}

.grid-cell-interior {
  .light-duty & {
    background-color: $light_red;
  }
  .class-1-midsize & {
    background-color: lighten(orange, 30%);
  }
  .class-1-fullsize & {
    background-color: $light_green;
  }
  .class-2 & {
    background-color: $light_blue;
  }
  .class-3 & {
    background-color: $light_purple;
  }
}

.element-header, .element-footer {
  padding: 5px;
}

.element-header {
  color: #fff;
  font-weight: 700;
  line-height: 1;
  .light-duty & {
    background-color: darken($light_red, 20%);
  }
  .class-1-midsize & {
    background-color: darken(lighten(orange, 30%), 20%);
  }
  .class-1-fullsize & {
    background-color: darken($light_green, 20%);
  }
  .class-2 & {
    background-color: darken($light_blue, 20%);
  }
  .class-3 & {
    background-color: darken($light_purple, 20%);
  }  
}

.element-header-tr {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.element-header-td {
  display: table-cell;
  vertical-align: top;
}

.element-footer {
  font-size: 10px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  .light-duty & {
    background-color: darken($light_red, 10%);
    color: darken($light_red, 60%);
  }
  .class-1-midsize & {
    background-color: darken(lighten(orange, 30%), 10%);
    color: darken(lighten(orange, 30%), 60%);
  }
  .class-1-fullsize & {
    background-color: darken($light_green, 10%);
    color: darken($light_green, 60%);
  }
  .class-2 & {
    background-color: darken($light_blue, 10%);
    color: darken($light_blue, 60%);
  }
  .class-3 & {
    background-color: darken($light_purple, 10%);
    color: darken($light_purple, 60%);
  }  
}

.element-figure {
  padding: 10px;
  svg {
    display: block;
    max-width: 100%;
    height: auto;
    path {
      .light-duty & {
        fill: darken($light_red, 14%);
      }
      .class-1-midsize & {
        fill: darken(lighten(orange, 30%), 14%);
      }
      .class-1-fullsize & {
        fill: darken($light_green, 14%);
      }
      .class-2 & {
        fill: darken($light_blue, 14%);
      }
      .class-3 & {
        fill: darken($light_purple, 14%);
      }  
    }
  }
}

.model {
  display: block;
  font-weight: 300;
  font-size: 70%;
  text-transform: uppercase;
}

.msrp {
  font: normal 400 24px/1 "WhitneyInd W R Lig A", "WhitneyInd W R Lig B", sans-serif;
}

.text-right {
  text-align: right;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

